<div class="container" *ngIf="dish" fxLayout="column" fxLayoutGap="10px">
    <mat-grid-list cols="2">
        <mat-grid-tile>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <h3>{{dish.name | uppercase}}</h3>
                    </mat-card-title>
                </mat-card-header>
                <img mat-card-image src="{{dish.image}}" alt="{{dish.name}}" style="width:500px;height:500px;">
                <mat-card-content>
                    <p>{{dish.description}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="container" fxLayout="column" fxLayoutGap="10px">
                <div>
                    <h3>Comments</h3>
                </div>
                <div *ngFor="let comment of dish.comments" fxFlex>
                    <p>{{comment.comment}}</p>
                    <p>{{comment.rating}} stars</p>
                    <p>-- {{comment.author}} {{dateParse(comment.date)}}</p>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>